.place__website_link {
  margin: 0;
  padding: 12px 0 0 0;
  width: 456px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: .2s ease-in-out;
}

.place__link:hover {
  opacity: .5;
}